.bg-theme
{
    background-color: #417394;
}

.section-bg
{
    background-color: #e2e8ff;
}

@media  screen and (max-width: 600px)
{
    .m-display-none
    {
        display: none!important;
    }
}

